body {
    background-color: #ddd;
}

.navbar-custom {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-navbar {
    justify-content: center;
    line-height: 2.0;
}

.navbar-nav {
    text-align: center;
    /* 將文字置中 */
    margin: 0 auto;
    /* 適應父容器的居中效果 */
    padding: 5px;
}

.navbar-nav .nav-link {
    width: 100%;
    /* 選項佔滿寬度 */
    /* display: inline-block; 確保文字居中顯示 */
    padding: 5px 0;
    letter-spacing: 3px;
}

.navbar-logo {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

.navbar-icon {
    max-width: 50px;
    max-height: 50px;
}

.nav-link:hover,
.nav-link:focus {
    color: #ffffff;
    /* 改變文字顏色 */
    background-color: #9aa78a;
    /* 添加背景色 */
    border-radius: 5px;
    /* 圓角效果 */
    /* transition: all 0.3s ease; /*添加過渡效果 */
}

.fixLineP {
    background-color: #28a745;
    /* 自定义背景颜色 */

}

#fixedLine {
    z-index: 1050;
    position: fixed;
    right: 10px;
    bottom: 500px;
    width: 50px;
    /* 自定義寬度 */
    height: 50px;
    /* 自定義高度 */
    background-image: url('./icon_else/icons-line3-48.png');
    /* 使用您的圖片路徑 */
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
    background-color: transparent;

}

.hero {
    height: 100vh;
    display: flex;
    justify-content: end;
    flex-direction: column;
    /* background: url(./icon_else/footsteps.jpg); */
    background-color: #9aa78a;
}

@media (max-width: 767px) {
    .hero {
        background: url(./寵物圖片/pet08.jpg) center/cover no-repeat;
    }
}

.hero-background {
    background: url(./寵物圖片/pet08.jpg) center/cover no-repeat;
    border: solid #ffffff;
    border-width: 0 15px 0 0;
    border-radius: 0 50% 0 0;
}

.hero-content {
    background: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .hero {
        flex-direction: row;
    }

    .hero-background {
        flex: 1;
    }

    .hero-content-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        padding: 2rem;
    }
}

.modal-content {
    border-radius: 15px;
    padding: 20px;
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    font-size: 16px;
}

.btn-close {
    background-color: transparent;
}

.hero-section {
    background-color: #9aa78a;
    padding: 30px 0;
}

.hero-image {
    max-width: 75%;
    border-radius: 10px;
}



.form-custom {
    background-image: url(./環境及設備/室內2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
    border-radius: 20px;
}


.form-section {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #060505;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}

.form-group label {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-custom {
    width: 25rem;
    height: 34rem;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    /* 确保内容不会超出圆角边框 */
    box-shadow: 0 0 10px 5px gray;
    /* 固定阴影效果 */
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;


}


.card-custom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./icon_else/dog_footprint.jpg);
    background-size: cover;
    /* 确保背景图片适应尺寸 */
    background-position: center;
    opacity: 0.3;
    /* 设置透明度 */
    z-index: 1;
    /* 确保背景图片在内容后面 */
}

.card-custom .card-body,

.card-custom img {
    position: relative;
    z-index: 2;
    /* 确保文字内容在背景图片上方 */
    border-top-left-radius: 10px;
    /* 确保图片和卡片圆角一致 */
    border-top-right-radius: 10px
}

.cimg-custom {
    width: 270px;
    height: auto;
    margin-top: 10px;
    border-radius: 20px;
    border: solid 5px #9aa78a;
    object-fit: cover;
    display: block;
    margin: 10px auto;
}

.cbtn-custom {
    border-radius: 50px;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 50px;
    height: 50px;
    margin-top: 250px;
}

.cbtn-custom:hover {
    background-color: #9aa78a;
    /* 悬停背景颜色 */
    transform: scale(1.1);
}

.cbtn-custom:active {
    background-color: #f8f9fa;
    /* 激活背景颜色 */
    transform: scale(0.95);
}

.custom-input,
.custom-select {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.custom-input:focus,
.custom-select:focus {
    border-color: #9aa78a;
    box-shadow: 0 0 8px #9aa78a;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}


.fade-in-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.show {
    opacity: 1;
    transform: translateX(0);
}


.footer {
    background-color: #f8f9fa;
    padding: 15px 0;
    text-align: center;
}

.btn-custom {
    color: #000;
    background-color: #ffffff;
    border: 2px solid #9aa78a
}

.btn-custom2 {
    background-color: #9aa78a;
    color: #ffffff;
    border: solid 2px #ffffff;
}

.btn-custom2:hover {
    background-color: #ffffff;
    color: #000;
    border: solid;
    border-color: #9aa78a;
}

.btn-custom:hover {
    background-color: #9aa78a;
    color: #ffffff;
}


.custom-footer {
    background-color: #9aa78a;
    padding: 30px 20px;
    border-radius: 20px 20px 0 0;
    font-size: 16px;
    color: #333;
}

/* 確保圖片容器具有自動比例 */
.photo-wrapper {
    aspect-ratio: 4 / 3;
    /* 預設為 4:3 比例，可根據需求調整 */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    background-color: #ddd;
    /* 可選的背景色 */
}

.photo-wrapper img {
    cursor: pointer;
    transition: transform 0.3s;
}

.photo-wrapper img:hover {
    transform: scale(1.1);
}

/* 圖片設置 */
.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* 確保圖片填充容器並保持比例 */
    transition: transform 0.3s ease;
}

/* 懸停效果 */
.gallery-img:hover {
    transform: scale(1.05);
}




.footer-section-title {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-link {
    color: #ffffff;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: none;
    color: #000000;
    ;
}

.footer-icon:hover {
    background-color: #ddd;
    border-radius: 10px;
}

.social-icons a {
    margin-right: 15px;
    font-size: 24px;
    color: #333;
}

.social-icons a:hover {
    color: #007bff;
}

.footer-bottom {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.footer-logo {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.txt-about {
    text-align: left;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    line-height: 2.0;
    border: 5px solid #9aa78a;
    white-space: nowrap;
    overflow-x: auto;
}

.ttl-about {
    background-color: #9aa78a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-color: #516a32;
}

.pic-about {
    width: 500px;
    height: auto;
}

.pic-about2 {
    width: 500px;
    height: auto;

}

@media (max-width: 768px) {
    .txt-about {
        margin-bottom: 10px;
    }

    .pic-about {
        margin-bottom: 10px
    }

    .pic-about2 {
        margin-bottom: 10px
    }

}

@media screen and (min-width: 768px) {
    .pic-about2 {
        margin-top: -100px;
    }
}

@media (min-width: 768px) {

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}

.gallery-img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.gallery-item {
    text-align: left;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #9aa78a;
    width: auto;
}

.des-row-custom {

    border-radius: 10px;
}

.notify-custom {
    background-color: #ffffff;
    border-radius: 25px;
    padding: 15px;
    margin: 10px;
    width: 350px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* 桌面版專屬樣式 */
@media (min-width: 768px) {
    .gallery-img {
        width: auto;
        /* 調整寬度比例 */
        height: 500px;
        /* 保持圖片比例 */
        margin: 0 auto;
        /* 水平置中 */
    }

    .gallery-item {
        padding-left: 20px;
        /* 增加間距以保持排版美觀 */
    }
}

.gradient-border {
    border: 5px solid #9aa78a;

    border-radius: 10px;
    /* 保持 Bootstrap 預設圓角 */
}


#modalImage:fullscreen {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}

.success-message {
    color: green;
    font-size: 0.9rem;
    margin-top: 5px;
}

.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.text-decoration-none:hover {
    text-decoration: none;
}

/* 以上是首頁 */

.custom-tab-btn {
    background-color: transparent;
    /* 自訂背景色 */
    color: #000000;
    /* 自訂文字色 */
    border: none;
    /* 移除邊框 */
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    /* 圓角 */
    transition: background-color 0.3s ease;
}

.custom-tab-btn:hover {
    background-color: #9aa78a;
    /* 滑鼠懸停時顏色 */
}

.custom-tab-btn.active {
    background-color: #264653;
    /* 選取狀態顏色 */
}

.accordion-button {
    background-color: #f8f9fa;
    /* 標題背景色 */
    color: #343a40;
    /* 標題文字色 */
    font-weight: bold;
    /* 字體加粗 */
    border: none;
}

.accordion-button:focus {
    box-shadow: none;
    /* 移除點擊後的陰影效果 */
}

.accordion-body {
    background-color: #ffffff;
    /* 內容背景色 */
    color: #495057;
    /* 內容文字色 */
    border: 1px solid #dee2e6;
    /* 增加邊框 */
    border-top: none;
    /* 避免重疊邊框 */
}

.accordion-button:not(.collapsed) {
    background-color: #9aa78a;
    /* 點擊後背景色 */
    color: #ffffff;
    /* 點擊後文字色 */
}



@media (max-width: 768px) {

    /* 在手機版時每行只顯示一列 */
    .table tbody tr td {
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: 2px solid #9aa78a;
        border-radius: 10px;
    }

    /* 取消每行的標題分隔線 */
    .table tbody tr td:nth-child(2)::before {
        content: "小美容";
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .table tbody tr td:nth-child(3)::before {
        content: "大美容";
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .table thead {
        display: none;
    }


}

@media (max-width: 768px) {

    /* 將手機版改為每列顯示一個單元 */
    .table1 tbody tr td {
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: 2px solid #9aa78a;
    }

    /* 標題顯示在每行的前面 */
    .table1 tbody tr td:nth-child(2)::before {
        content: "小型犬";
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .table1 tbody tr td:nth-child(3)::before {
        content: "中型犬";
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .table1 tbody tr td:nth-child(4)::before {
        content: "大型犬";
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    /* 隱藏表頭 */
    .table thead {
        display: none;
    }
}

.modal_env {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content-env {
    position: relative;
    width: 500px;
    height: 400px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.modal-content-env img {
    max-width: 100%;
    max-height: 100%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #9aa78a;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-size: 16px;
}

.close-btn:hover {
    background: #ff3b3b;
}

.env_illustration {
    text-align: left;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border: solid 5px #9aa78a;
    border-radius: 30px;
    line-height: 35px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

